* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #eeeeee;
}

i {
	font-size: inherit !important;
}

.small {
	font-size: 0.7em;
}

.code {
	font-family: monospace;
}

input[type="text"] {
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding-bottom: 5px;
}

input[type="text"]:focus {
	outline: none;
}

textarea {
	resize: none;
	border: none;
	width: 100%;
	transition: height 0.2s;
	z-index: 1;
}

textarea:focus {
	outline: none;
}

.upload-widget {
	opacity: 1;
    transition: height 0.2s, opacity 0.2s;
}

textarea:focus + .upload-widget {
	height: 0px !important;
	opacity: 0 !important;
}

button {
	border: none;
	color: white;
	border-radius: 2px;
}

button:focus {
	outline: none;
}

button:active {
	outline: none;
}

button:disabled {
	opacity: 0.4;
}

.big-button {
	font-size: 1em;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.big-button:focus {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.big-button:active {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-text {
	display: inline-block;
	margin-top: 2px;
}

.upload-button {
	padding: 2px 5px;
	border-radius: 2px;
	color: white;
	margin-left: 5px;
}

input, textarea, keygen, select, button {
	font-family: 'Open Sans', sans-serif;
}

.textarea-xml {
	font-family: monospace;
}

.disabled-div {
	pointer-events: none !important;
	opacity: 0.4 !important;
}

.upload-widget.disabled-div {
	opacity: 0.15 !important;
}

.invalid-input {
}

.no-highlight {
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#sidebar {
	position: fixed;
	width: 150px;
	height: 100%;
	z-index: 1;
	color: white;
	z-index: 10;
}

#sidebar-top {
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-family: 'Slabo 27px', monospace;
}

.sidebar-step {
	text-align: center;
	padding: 20px 0;
	position: relative;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	display: block;
	text-decoration: none;
}

.sidebar-step h4, .sidebar-step h3 {
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0;
}

.sidebar-step h4 {
	text-transform: uppercase;
	font-size: 0.8em;
	font-family: 'Slabo 27px', monospace;
}

.sidebar-step h3 {
	margin-top: 5px;
}

.current-step:after {
	content: ' ';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	border-top: 10px solid transparent;
	border-right: 10px solid #eee;
	border-bottom: 10px solid transparent;
}

.current-step h4 {
	font-weight: bold;
}

.current-step h3 {
	color: white !important;
}

#sidebar-bottom {
	font-size: 0.7em;
	text-align: center;
	margin-top: 30px;
	position: absolute;
	width: 100%;
	bottom: 30px;
}

#sidebar-bottom span:hover {
	color: white;
	text-decoration: underline;
}

#wrapper {
	position: absolute;
	width: calc(100% - 150px);
	height: 100%;
	right: 0;
}

#wrapper h2 {
	font-family: 'Slabo 27px', monospace;
	margin-top: 0;
	margin-bottom: 0;
}

.page {
	height: 100%;
	right: 0;
	display: flex;
	flex-flow: column;
	padding: 50px 0;
}

.page-scrollable {
	height: initial;
}

.section {
	max-width: 600px;
	width: calc(100% - 40px);
	margin: 0 auto;
	flex: 0 1 auto;
	margin-bottom: 30px;
	box-sizing: content-box;
}

.section:last-of-type {
	margin-bottom: 0 !important;
}

.section-center {
	text-align: center;
}

.section-fill {
	flex: 1 1 auto;
}

.section-panel {
	background: white;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	padding: 20px;
}

.no-padding {
	padding: 0 !important;
}

.instruction {
	display: table-row;
}

.instruction h3 {
	font-size: 0.7em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-right: 10px;
	box-sizing: content-box;
	text-transform: uppercase;
	border: 1px solid;
}

.instruction-text {
	width: calc(100% - 65px);
	float: right;
}

#paste-panel {
	height: 150px;
	margin-bottom: 50px;
}

#pp-left, #pp-right {
	height: 100%;
	float: left;
	padding: 10px;
	position: relative;
}

#pp-left {
	width: 35%;
	border-right: 1px solid rgba(0,0,0,0.15);
	display: flex;
	flex-flow: column;
}

#rule-name {
	width: 100%;
	font-size: 1em;
	flex: 0 1 auto;
	margin-bottom: 5px;
}

#rule-desc {
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	border: none;
}

#rule-desc:focus {
	outline: none;
}

#pp-right {
	width: 65%;
	position: relative;
	display: flex;
	flex-flow: column-reverse;
}

#pp-upload {
    font-size: 0.7em;
    text-align: center;
    height: 65px;
    width: 100%;
}

.pp-divider:before, .pp-divider:after {
	content: '';
	width: calc(50% - 50px);
	height: 1px;
	background: #555;
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

#pp-selected-file {
	padding: 8px 0 4px 0;
	font-size: 1.2em;
}

.pp-divider {
	font-size: 0.6em;
	opacity: 0.3;
	margin-bottom: 5px;
	text-align: center;
}

#rule-xml {
	height: 65px;
}

#rule-xml:focus {
	height: 130px !important;
}

.rule-required {
	font-size: 0.5em;
	position: absolute;
	display: none;
	z-index: 2;
}

.invalid-input .rule-required, .invalid-input + .rule-required {
	display: block;
}

.rr-name {
	top: 12px;
	right: 10px;
}

.rr-desc {
	top: 42px;
	right: 10px;
}

.rr-upload {
	top: 57px;
	right: 10px;
}

.text-under {
	height: 50px;
    line-height: 40px;
}

#attributes-panel {
	height: calc(100% - 300px);
	min-height: 179px;
	display: flex;
	flex-flow: column;
	box-sizing: border-box;
	padding: 0;
}

.header, .ap-row, #ap-footer {
	height: 40px;
	line-height: 40px;
}

.header {
	background: rgba(0,0,0,0.05);
	color: grey;
	font-weight: lighter;
}

.header i, #ap-footer i {
	position: absolute;
	line-height: 40px;
}

.header span, #ap-footer span {
	padding-left: 20px;
}

#ap-header {
	flex: 0 1 auto;
}

#delete-all-button {
	right: 0;
    margin-right: 5px;
    font-size: 1.2em !important;
}

#ap-main {
	flex: 1 1 auto;
	overflow: auto;
}

.ap-row {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ap-col {
	width: 50%;
	float: left;
	padding-left: 10px;
	height: 100%;
	position: relative;		
}

.ap-col-tag input[type="text"] {
	width: calc(100% - 15px);
}

.ap-col-val input[type="text"] {
	width: calc(100% - 35px);
}

.ap-col-val i {
	margin-left: 10px;
	color: rgba(0,0,0,0.3);
}

#ap-footer {
	flex: 0 1 auto;
	color: white;
	padding: 0 10px;
}

#test-panel {
	height: 150px;
	display: flex;
	flex-flow: column-reverse;
}

#tp-upload {
	height: 80px;
}

#tp-xml {
	height: 70px;
}

#tp-xml:focus {
	height: 150px !important;
}

#tp-selected-file {
	display: inline;
	margin-left: 5px;
}

#test-panel .pp-divider {
	padding: 20px 0;
}

@media (max-width: 640px) {
	#wrapper {
		width: 100%;
	}

	#sidebar {
		height: 50px;
		width: 50px;
		overflow: hidden;
	}

	#sidebar-bottom {
		display: none;
	}

	#sidebar:hover {
		height: 100%;
		width: 150px;
		overflow: initial;
	}
}